@import "../../../styles/mixins";
@import "../../../styles/variable";

@keyframes headerAppear {
    0% {
        height: 0;
    }
    100% {
        height: 100px;
    }
}
.hh__header {
    width: 100%;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    overflow: hidden;
    background-color: #ffffff;
    // animation-name: headerAppear;
    // animation-delay: 5s;
    // animation-duration: 2s;
    // -webkit-transition: ease-in-out 0.3s;
    // transition: ease-in-out 0.3s;

    @include for-phone-only {
        background-color: transparent;
    }

    .hh__header-container {
        // max-width: 1430px;
        margin: 0 auto;
        height: 100%;
        padding: 0 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include for-phone-only {
            max-width: auto;
            width: 100%;
            padding: 0 20px;
        }

        .hh__header-left {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            // padding: 0 30px;

            .brand-logo {
                height: 100px;
                width: auto;
            }
            .brand {
                font-size: 1.7rem;
                color: $color-primary;
                font-weight: bold;
                letter-spacing: -1px;

                span {
                    font-weight: normal;
                }
            }
        }

        .hh__header-middle {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 80px;

            @include for-phone-only{
                display: none;
            }
            ul {
                width: 100%;
                display: flex;
                align-items: center;
                margin: 0;

                li {
                    list-style: none;
                    margin: 0 20px;

                    a {
                        cursor: pointer;
                        font-size: 0.925rem;
                        text-decoration: none;
                        color: #111;
                        font-weight: 200;
                    }
                }
            }
        }

        .hh__header-nav-panel {
            display: flex;
            align-items: center;
        }
        .hh__header-right {
            display: flex;
            align-items: center;
            justify-content: center;
            ul {
                display: flex;
                align-items: center;
                margin: 0;
                li {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    .btn {
                        border: 0;
                        height: 40px;
                        padding: 0 20px;
                        background-color: transparent;
                        color: $color-primary;
                        font-size: 0.925rem;
                        border-radius: 5px;
                    }

                    .btn-signup {
                        background-color: $color-primary;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.hh__header.smaller {
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9;
    height: 80px;
    background-color: #fff;
    position: fixed;
    // box-shadow: 0px 0px 3px #bdbdbd;
}
