@import "../../../styles/mixins";
@import "../../../styles/variable";

.tab__container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  overflow: hidden;

  @include for-phone-only {
    width: 100%;
    flex-direction: column;
    padding: 10px 0px;
  }
}

.tab-list {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  margin: 0;
  margin-right: 15px;
  border-bottom: 3px solid rgba($color: $color-primary, $alpha:.3 );
  // box-shadow: 0 0 5px #dfdfdf;

  @include for-phone-only {
    flex-direction: row;
    width: 100%;
  }
}

.tab-list-item {
  // flex: 1;
  width: 200px;
  margin: 0;
  margin-bottom: -2px;
  padding: 15px 15px;
  cursor: pointer;
  // opacity: 0.5;
  transition: all 0.5s ease-out;
  color: rgba($color: $color-primary, $alpha:.3 );
  
  list-style-type: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
  text-align: center;
  background: transparent;
  transition: 0.5s ease;border: none;

  @include for-phone-only {
    min-width: fit-content;
    font-size: 0.825rem;
    padding: 7px;
  }
}
.tab-list-active {
  color: $color-primary;
  background-color: transparent;
  opacity: 1;
  border-bottom: 3px solid $color-primary;
}

.tab-content {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  // box-shadow: 0 0 5px #dfdfdf;

  @include for-phone-only {
    padding: 10px 5px;
  }
}
