.logo {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec;

    .overflow-frame {
        height: 400px;
        width: 210px;
        display: flex;
        justify-content: center;
        align-items: center;
        // overflow: hidden;
    }
    .square-frame {
        width: 210px;
        height: 100vh;
        position: relative;

        .line-middle {
            width: 70px;
            height: 152%;
            background-color: #ffffff;
            position: absolute;
            top: -29%;
            left: 149px;
            transform: rotate(45deg);
        }

        .line-left {
            width: 70px;
            height: 350px;
            background-color: rgb(255, 255, 255);
            position: absolute;
            top: -100%;
            left: 0;
            animation-name: leftline;
            animation-duration: 1.5s;
            height: 100vh;
        }
        .line-right {
            width: 70px;
            height: 350px;
            background-color: rgb(255, 255, 255);
            position: absolute;
            right: 0;
            bottom: -100%;
            animation-name: rightline;
            animation-duration: 1.5s;
            height: 100vh;
        }

        .cross-top-right {
            width: 70px;
            height: 300px;
            background-color: #dfdfdf;
            position: absolute;
            top: -165px;
            right: 0;
            transform: rotate(-45deg);
            // animation-name: rightline;
            // animation-duration: 1s;
        }
        .cross-top-left {
            width: 70px;
            height: 300px;
            background-color: #dfdfdf;
            position: absolute;
            top: -215px;
            left: 0;
            transform: rotate(45deg);
            // animation-name: rightline;
            // animation-duration: 1s;
        }
        .cross-bottom-left {
            width: 70px;
            height: 300px;
            background-color: #dfdfdf;
            position: absolute;
            top: 165px;
            left: 0;
            transform: rotate(-45deg);
            // animation-name: rightline;
            // animation-duration: 1s;
        }
        .cross-bottom-right {
            width: 70px;
            height: 300px;
            background-color: #dfdfdf;
            position: absolute;
            bottom: -212px;
            right: 0;
            transform: rotate(45deg);
            // animation-name: rightline;
            // animation-duration: 1s;
        }
    }
}

@keyframes leftline {
    0% {
        top: 100%;
        opacity: 1;
    }

    // 50% {
    //     top: -50%;
    //     opacity: 0.5;
    //     background-color: rgb(42, 173, 130);
    // }

    100% {
        top: -100%;
        opacity: 0.4;
    }
}
@keyframes rightline {
    0% {
        bottom: 100%;
        opacity: 1;
    }

    // 50% {
    //     bottom: -50%;
    //     opacity: 0.5;
    //     background-color: yellow;
    // }

    100% {
        bottom: -100%;
        opacity: 0.4;
    }
}
