@import "../../../styles/mixins";
@import "../../../styles/variable";

.footer-wrapper {
    .footer-container {
        width: 100%;
        margin: 0 auto;
        // max-width: 1430px;
        // min-height: 90vh;
        padding: 0 70px;
        height: fit-content;

        @include for-tablet {
            min-height: fit-content;
            height: fit-content;
        }
        // border-top: 1px solid #dadce1;
        .footer-big {
            width: 100%;
            display: flex;
            padding: 10px 0px;

            @include for-phone-only {
                flex-direction: column;
                padding: 80px 0px;
            }

            .ft-left {
                width: 50%;

                @include for-phone-only {
                    width: 100%;
                    text-align: center;
                }

                .ft-title {
                    color: $text-dark;
                    // font-size: $font-size-h3;
                }
                span {
                    display: block;
                    color: $color-primary;
                }

                .submain-links {
                    width: fit-content;
                    margin-top: 15px;

                    @include for-phone-only {
                        margin: 0 auto;
                    }

                    li {
                        padding: 10px 15px;
                        width: 100%;
                        position: relative;
                        a {
                            color: $color-primary;
                            display: block;
                            text-decoration: none;
                            transition: 0.5s;
                            font-size: $font-size-h6;
                            font-weight: 600;
                            font-family: "Poiret One", cursive;

                            @include for-phone-only {
                                font-size: $font-size-p;
                            }
                        }

                        &:after {
                            font-family: "Font Awesome 5 Free";
                            font-weight: 600;
                            content: "\f061";
                            position: absolute;
                            top: 50%;
                            right: -37px;
                            color: #00c4b1;
                            transform: translateY(-50%);
                            font-size: 2.2rem;
                            transition: 0.3s;
                        }

                        &:hover:after {
                            right: -20px;
                            color: $text-dark;
                        }
                    }
                }
            }

            .ft-links {
                width: 50%;
                display: flex;

                @include for-phone-only {
                    width: 100%;
                    flex-direction: column;
                }

                .link-section {
                    width: 30%;

                    @include for-phone-only {
                        width: 100%;
                    }

                    .submain-links {
                        @include for-phone-only {
                            width: 100%;
                            margin-top: 20px;
                        }
                        .submain-link {
                            width: fit-content;
                            list-style: none;
                            padding: 5px;

                            a {
                                text-decoration: none;
                                color: $text-light;
                                transition: 0.2s;
                            }
                        }
                    }
                }
            }
        }

        .footer-small {
            padding: 50px 0px;
            border-top: 1px solid #dadce1;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include for-phone-only {
                flex-direction: column;
                justify-content: center;
                padding: 30px 0px;
            }

            .logo-brand {
                img {
                    height: 50px;

                    @include for-phone-only {
                        height: 40px;
                    }
                }
            }

            .copy-right {
                color: $text-light;
                font-size: 0.925rem;
                @include for-phone-only {
                    margin: 15px 0px;
                }
            }

            .social-links {
                display: flex;
                align-items: center;

                a {
                    text-decoration: none;
                    .item {
                        height: 40px;
                        width: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        i {
                            font-size: 1.2rem;
                            color: $text-light;
                        }

                        &:hover i {
                            color: $text-dark;
                        }
                    }
                }
            }
        }
    }
}
